<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="Controller">logs/Controller.log</Property>
        <Property name="Dao">logs/Dao.log</Property>
        <Property name="Model">logs/Model.log</Property>
        <Property name="Service">logs/Service.log</Property>
        <!--<Property name="Sql">logs/Sql.log</Property>-->
        <Property name="View">logs/View.log</Property>
        <Property name="Util">logs/Util.log</Property>

    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="Controller-all" fileName="${Controller}" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="Dao-all" fileName="${Dao}" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="Model-all" fileName="${Model}" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="Service-all" fileName="${Service}" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <!--<File name="Sql-all" fileName="${Sql}" append="false">-->
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />-->
        <!--</File>-->
        <File name="View-all" fileName="${View}" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="Util-all" fileName="${Util}" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="com.epam.core.controller" additivity="false" level="ALL">
            <AppenderRef ref="Controller-all" level="ALL" />
        </Logger>

        <Logger name="com.epam.persistence.access" additivity="false" level="ALL">
            <AppenderRef ref="Dao-all" level="ALL" />
        </Logger>

        <Logger name="com.epam.persistence.entities" additivity="false" level="ALL">
            <AppenderRef ref="Model-all" level="ALL" />
        </Logger>

        <Logger name="com.epam.persistence.services" additivity="false" level="ALL">
            <AppenderRef ref="Service-all" level="ALL" />
        </Logger>

        <!--<Logger name="com.epam.sql" additivity="false" level="ALL">-->
            <!--<AppenderRef ref="Sql-all" level="ALL" />-->
        <!--</Logger>-->

        <Logger name="com.epam.presentation" additivity="false" level="ALL">
            <AppenderRef ref="View-all" level="ALL" />
        </Logger>

        <Logger name="com.epam.utilities" additivity="false" level="ALL">
            <AppenderRef ref="Util-all" level="ALL" />
        </Logger>

    </Loggers>
</Configuration>